<div class="row">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Show</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <% @type_products.each do |type_product| %>
                <tr>
                    <td><%= type_product['name'] %></td>
                    <td><%= type_product['description'] %></td>
                    <td><a class="link" href="/type_products/<%= type_product['id'] %>/edit">Editar</a></td>
                    <td><a class="link" href="/type_products/<%= type_product['id'] %>">Show</a></td>
                    <td><%= link_to 'Eliminar',"/type_products/#{type_product['id']}", method: "delete", data: { confirm: "Are you sure?", disable_with: "Processing..." } %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>