<div class="row">
    <div class="card">
        <h1><%= t('users.subtitle') %></h1>
        <%= form_for :type_product, :url => { :action => "create"}, method: 'POST', :html => {:class => "form row"} do |f| %>
            <div class="form-group col-6">
                <strong class="error-msg" id="error-name">
                    <%= f.text_field :name, class: 'form-input', required: true,id:"name" %>
                    <label class="form-label" for="name"><%= t('type_product.inputs.name') %></label>
                    <p id='text-name' class="hide"><%= t('errors.name') %></p>
                </strong>
            </div>
            <div class="form-group col-6">
                <strong class="error-msg" id="error-description">
                    <%= f.text_field :description, class: 'form-input', required: true,id:"description" %>
                    <label class="form-label" for="description"><%= t('type_product.inputs.description') %></label>
                    <p id='text-description' class="hide"><%= t('errors.description') %></p>
                </strong>
            </div>
            <div class="button col-10 pt-4">
                <button class="btn btn-login"><%= t('client.inputs.button') %></button>
            </div>
        <% end %>
    </div>
</div>