<div class="show-user">
    <div class="row">
        <div class="col">
            <h1><%= t('type.products.labels.name') %>: <%= @type_product['name'] %></h1>
        </div> 
        <div class="col">
            <h1><%= t('type.products.labels.description') %>: <%= @type_product['description'] %></h1>
        </div>
    </div>
    <div class="links col-6 pt-4">
        <a href="/type_products" class="btn btn-link"><%= t('sales.inputs.back') %></a>
    </div>
</div>