%table.table.responsive.text-center{id: 'table_desing'}
  %thead
    %th= t('common_texts.email')
    %th= t('common_texts.phone')
    %th= t('common_texts.username')
    %th= t('common_texts.role')
    %th= t('buttons.edit')
    %th= t('buttons.show')
  %tbody
    - if @users.any?
      = render partial: 'users/user', collection: @users
