%tr
  %td= user['email']
  %td= user['phone']
  %td= user['username']
  %td= user['role']['name']
  %td
    %a{href: "/users/#{user['id']}/edit"}
      = t('buttons.edit')
  %td
    %a{href: "/users/#{user['id']}"}
      = t('buttons.show')
    