<div class="row">
    <div class="card">
        <h1><%= t('users.subtitle') %></h1>
        <%= form_for :users, :url => { :action => "update"}, method: 'PUT', :html => {:class => "form row"} do |f| %>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-username">
                    <%= f.text_field :username, class: 'form-input', required: true,id:"username", value: @user['username'] %>
                    <label class="form-label" for="username"><%= t('client.inputs.username') %></label>
                    <p id='text-username' class="hide"><%= t('errors.username') %></p>
                </strong>
            </div>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-phone">
                    <%= f.text_field :phone, class: 'form-input', required: true,id:"phone", value: @user['phone'] %>
                    <label class="form-label" for="phone"><%= t('client.inputs.phone') %></label>
                    <p id='text-phone' class="hide"><%= t('errors.phone') %></p>
                </strong>
            </div>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-email">
                    <%= f.text_field :email, class: 'form-input', required: true,id:"email", value: @user['email'] %>
                    <label class="form-label" for="email"><%= t('client.inputs.email') %></label>
                    <p id='text-email' class="hide"><%= t('errors.email') %></p>
                </strong>
            </div>

            <div class="form-group-select col-4">
                <div class="form-group">
                    <%= f.select :role_id, options_for_select(@roles.map {|role| [role['name'], role['id']]}, selected: @user['role_id'] ),{ include_blank: "" },{class: 'form-select', required: true} %>
                    <label class="form-label" for="role"><%= t('register.inputs.role') %></label>
                </div>
            </div>
            <div class="row col-12">
                <div class="links col-6 pt-4">
                    <a href="/users" class="btn btn-link"><%= t('users.inputs.back') %></a>
                </div>
                <div class="button col-6 pt-4">
                    <button class="btn btn-login"><%= t('users.inputs.button') %></button>
                </div>
            </div>
        <% end %>
    </div>
</div>