<div class="row">
    <div class="card">
        <h1><%= t('users.subtitle') %></h1>
        <%= form_for :users, :url => { :action => "create"}, :html => {:class => "form row"} do |f| %>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-username">
                    <%= f.text_field :username, class: 'form-input', required: true,id:"username" %>
                    <label class="form-label" for="username"><%= t('client.inputs.username') %></label>
                    <p id='text-username' class="hide"><%= t('errors.username') %></p>
                </strong>
            </div>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-phone">
                    <%= f.text_field :phone, class: 'form-input', required: true,id:"phone" %>
                    <label class="form-label" for="phone"><%= t('client.inputs.phone') %></label>
                    <p id='text-phone' class="hide"><%= t('errors.phone') %></p>
                </strong>
            </div>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-email">
                    <%= f.text_field :email, class: 'form-input', required: true,id:"email" %>
                    <label class="form-label" for="email"><%= t('client.inputs.email') %></label>
                    <p id='text-email' class="hide"><%= t('errors.email') %></p>
                </strong>
            </div>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-password">
                    <%= f.password_field :password, class: 'form-input', required: true,id:"password" %>
                    <label class="form-label" for="password"><%= t('client.inputs.password') %></label>
                    <p id='text-password' class="hide"><%= t('errors.password') %></p>
                </strong>
            </div>
            <div class="form-group col-4">
                <strong class="error-msg" id="error-confirmPassword">
                    <%= f.password_field :confirmPassword, class: 'form-input', required: true,id:"confirmPassword" %>
                    <label class="form-label" for="confirmPassword"><%= t('client.inputs.confirmPassword') %></label>
                    <p id='text-confirmPassword' class="hide"><%= t('errors.confirmPassword') %></p>
                </strong>
            </div>

            <div class="form-group-select col-4">
                <div class="form-group">
                    <%= f.select :role_id, options_for_select(@roles.map {|role| [role['name'], role['id']] }),{ include_blank: "" },{class: 'form-select', required: true} %>
                    <label class="form-label" for="role"><%= t('register.inputs.role') %></label>
                </div>
            </div>
            <div class="button col-6 pt-4">
                <button class="btn btn-login"><%= t('client.inputs.button') %></button>
            </div>
        <% end %>
    </div>
</div>