%tr
  %td= image_tag "#{client['picture'].present? ? client['picture'] : 'clients/missing.png'}", class: 'img-circle', id: ''
  %td= client['display_name']
  %td= client['member_id']
  %td= client['email']
  %td
    %a.link-table{href: "/clients/#{client['id']}/edit"}=t('buttons.edit')
  %td
    %a.link-table{href: "/clients/#{client['id']}"}=t('buttons.show')
    