%div.container
  %div.row
    %div.col-12
      %h3 Memberships

    %div.card.membership-info{id: "#{membership['status']}"}
      %div.row
        %div.col-3
          %h5
            =t('common_texts.type_membership')
            = membership['type_membership']['name']
        %div.col-3
          %h5
            =t('common_texts.last_date_payment')
            = membership['last_payment']

        %div.col-3
          %h5
            =t('common_texts.next_date_payment')
            = membership['next_payment']

        %div.col-3
          %h5
            =t('common_texts.status')
            =t("status.#{membership['status']}")