<div class="show-user">
    <div class="row">
        <div class="col-6 row">
            <div align='right' class="col">
                <h1>Name:</h1> 
            </div>
            <div align='left' class="col">
                <h5><%= @client['name'] %></h5>
            </div>
        </div> 
        <div class="col-6 row">
            <div align='right' class="col">
                <h1>Email:</h1> 
            </div>
            <div align='left' class="col">
                <h5><%= @client['email'] %></h5>
            </div>
        </div>
        <div class="col-6 row">
            <div align='right' class="col">
                <h1>Phone:</h1> 
            </div>
            <div align='left' class="col">
                <h5><%= @client['phone'] %></h5>
            </div>
        </div>
        <div class="col-6 row">
            <div align='right' class="col">
                <h1>Birthday:</h1> 
            </div>
            <div align='left' class="col">
                <h5><%= @client['birthday'] %></h5>
            </div>
        </div>
        <div align='right' class="col-12">
            <div class="links col-6">
                <a href="/clients" class="btn btn-link"><%= t('sales.inputs.back') %></a>
            </div>
        </div>
    </div>
</div>