<div class="row">
    <div class="card">
        <div class="row">
            <div class="col-4">
                <h1><%= t('home.clients') %>: <%= @data['clients'] %></h1>
            </div>
            <div class="col-4">
                <h1><%= t('home.users') %>: <%= @data['users'] %></h1>
            </div>
            <div class="col-4">
                <h1><%= t('home.payments') %>: <%= @data['payments'] %></h1>
            </div>
        </div>
    </div>
</div>