%div.container

  %div.row

    %div.col-3
      %div.card_one
        %div.card_home
          %div.col-3.icon
            = image_tag 'home/users.svg', class: 'home-user'
  
          %div.col-9
            %h1.font-white= @data['total_clients']
            %h1.font-white= t('common_texts.clients')

    %div.col-3
      %div.card_two
        %div.card_home
          %div.col-3.icon
            = image_tag 'home/user.png', class: 'home-user'
  
          %div.col-9
            %h1.font-white= @data['total_users']
            %h1.font-white= t('common_texts.users')


    %div.col-3
      %div.card_three
        %div.card_home
          %div.col-3.icon
            = image_tag 'sidebar/payments.png', class: 'home-payments'
  
          %div.col-9
            %h1.font-white= @data['total_payments']
            %h1.font-white= t('common_texts.payments')


    %div.col-3
      %div.card_four
        %div.card_home
          %div.col-3.icon
            = image_tag 'sidebar/sales.png', class: 'home-shopping'
  
          %div.col-9
            %h1.font-white= @data['total_sales']
            %h1.font-white= t('common_texts.sales')
    
    %div.col-6
      %div.card
        %h4{align: 'center'}= t('common_texts.accesses')
        %canvas#accessBar

    %div.col-6
      %div.card
        %h4{align: 'center'}
          = t('common_texts.payments')
          = t('common_texts.sales')
        %canvas#paymentsDoughnut

    %div.col-6.pt-3
      %div.card
        %h4{align: 'center'}= t('common_texts.last_payments')
        %div.col
          = render partial: 'last_payments'

    %div.col-6.pt-3
      %div.card
        %h4{align: 'center'}= t('common_texts.next_payments')
        %div.col
          = render partial: 'next_payments'
        
      
:javascript

  $(document).ready(function(){
    let ctx = document.getElementById('accessBar').getContext('2d');
    let labels = "#{@data['gAccess']['labels']}"
    labels = labels.replace(/&quot;/g, '"')
    let data = "#{@data['gAccess']['data']}"
    data = data.replace(/&quot;/g, '"')
    let accessBar = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: JSON.parse(labels),
        datasets: [{
          data: JSON.parse(data),
          backgroundColor: [
            'rgba(255, 99, 132)',
            'rgba(54, 162, 235)',
            'rgba(255, 206, 86)',
            'rgba(75, 192, 192)',
            'rgba(153, 102, 255)',
            'rgba(255, 159, 64)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        legend: {
          display: false
        },
        tooltips: {
          callbacks: {
            label: function(tooltipItem) {
             return tooltipItem.yLabel;
            }
          }
        }
      }
    });

    let ctx_doughnut = document.getElementById('paymentsDoughnut').getContext('2d');
    let paymentsDoughnut = new Chart(ctx_doughnut, {
      type: 'doughnut',
      data: {
        labels: ["#{t('common_texts.payments')}","#{t('common_texts.sales')}"],
        datasets: [{
          data: ["#{@data['total_payments']}","#{@data['total_sales']}"],
          backgroundColor: [
            '#e83e8c',
            '#20c997'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });


  });