%div.show-user
  %h1 
    =t('payments.payment_of')
    = @client['name']
  
  %div.row

    %div.col-2.picture-center
      = image_tag "#{(@client['picture'] ||= 'clients/missing.png')}", class: 'logo-circle'

    %div.col-10.row
      %div.col-5
      
        %div
          %h1.show_info
            =t('common_texts.email')
            = @client['email']
        
        %div
          %h1.show_info 
            =t('common_texts.phone')
            = @client['phone']
        
        %div
          %h1.show_info 
            =t('common_texts.birthday')
            = @client['birthday']
      %div.col-4
        %div
          %h1.show_info 
            =t('common_texts.age')
            = @client['age']
        %div
          %h1.show_info 
            =t('common_texts.status')
            = @client['status'].titleize

    %div.col-12
      = render partial: 'payments/membership', collection: @client['memberships'] 

