%div.container
  %div.row
    %div.col-12
      %h3=t('common_texts.memberships')

    %div.card.membership-info{id: "#{membership['status']}"}
      %div.row
        %div.col-4
          %h5
            =t("common_texts.type_membership")
            = membership['type_membership']['name']

        %div.col-4
          %h5
            =t("common_texts.status")
            =t("status.#{membership['status']}")
        
        %div.col-4
          %h5 
            =t("common_texts.type_payment")
            = membership['type_payment'].to_i
            =t("common_texts.month")
        
        %div.col-4
          %h5
            =t("common_texts.price")
            = membership['price'].to_f

        %div.col-4
          %h5
            =t("common_texts.offert")
            = membership['offert'].to_f        

        %div.col-4
          %h5
            =t("common_texts.extra_charge")
            = membership['extra_charge'].to_f

        %div.col-6
          %h5 
            =t("common_texts.next_date_payment")
            - if membership['next_payment'].present? 
              = membership['next_payment']
            - else
              = Date.current + membership['type_payment'].to_i.month

        %div.col-6{align: 'center'}
          %h5 Total:
          %h5#total-amount= (membership['price'].to_f + membership['extra_charge'].to_f - membership['offert'].to_f )

:javascript

  $('#price').val("#{membership['price']}");
  $('#offert').val("#{membership['offert']}");
  $('#extra_charge_mem').val("#{membership['extra_charge']}");
  $('#total').val("#{(membership['price'].to_f + membership['extra_charge'].to_f - membership['offert'].to_f )}");

  if(("#{membership['status']}" != 'active') && ("#{membership['status']}" != 'suspend')){
    $('#btn-payment').removeAttr('disabled');
  }