<div class="row">
    <table class="table table-striped">
        <thead>
            <th>Member Id</th>
            <th>Username</th>
            <th>Amount</th>
            <th>Extra Services</th>
            <th>Date Initial</th>
            <th>Date Finished</th>
            <th>Created</th>
        </thead>
        <tbody>
            <% @payments.each do |payment| %>
                <tr>
                    <td><%= payment['client']['member_id'] %></td>
                    <td><%= payment['user']['username'] %></td>
                    <td><%= payment['amount'] %></td>
                    <td><%= payment['extra_charge'] %></td>
                    <td><%= DateTime.parse(payment['date_payment']).strftime("%Y-%m-%d") %></td>
                    <td><%= DateTime.parse(payment['date_finished']).strftime("%Y-%m-%d") %></td>
                    <td><%= DateTime.parse(payment['created_at']).strftime("%Y-%m-%d") %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>