%div.row
  %div.card
    %h1
      = t('client.subtitle')
      = form_for :payments, :url => { :action => "create"}, :html => {:class => "form row"} do |f|

        %div.form-group.col-4
          %strong.error-msg{id: "error-member_id"}
            = f.text_field :client_search, class: 'form-input', required: true, id:"client_search"
            %label.form-label{for: "member_id"}= t('client.inputs.member_id')
            %p.hide{id: 'text-member_id'}=t('errors.member_id')

        %div.form-group.col-4
          %strong.error-msg{id: "error-extra_charge"}>
            = f.number_field :extra_charge, class: 'form-input',id:"extra_charge",value: 0
            %label.form-label{for: "extra_charge"}= t('client.inputs.extra_charge')
            %p.hide{id: 'text-extra_charge'}=t('errors.extra_charge')

        %div.col-12.pt-5#client
                    
        %div.links.col-6.pt-4
          %a.btn.btn-link{href: "/payments"}= t('client.inputs.back')
        
        %div.button.col-6.pt-4
          %button#btn-payment.btn.btn-login{disabled: true}= t('client.inputs.button')

:javascript

  $('#client_search').autocomplete({
    source: "#{search_autocomplete_clients_url({payments: true})}",
    select: function( event,opt ) {
      var client_id = opt.item.value;
      var url       = "#{add_client_payments_url}";
      var default_duration = $("input#client_default_duration").val();
      var data      = { id: client_id};
      $("#client").empty();
      $.get( url, data );
      $(this).val(client_id);
      return false;
    }
  });

  $('#extra_charge').on('change', function (){
    let extra_charge = $('#extra_charge').val()
    let price = $('#price').val();
    let offert = $('#offert').val();
    let extra_charge_mem = $('#extra_charge_mem').val();
    let total = parseInt(extra_charge) + parseInt(price) + parseInt(offert) + parseInt(extra_charge_mem)
    $('#total-amount').text(total)
    $('#total').val(total)
  });
