%tr
  %td= product['type_product']['name']
  %td= product['name']
  %td= product['description']
  %td= getSelled?(product['sold'])
  %td= product['bar_code']
  %td
    %a.link{href: "/products/#{product['id']}/edit"}=t('buttons.edit')
  %td
    %a.link{href: "/products/#{product['id']}"}=t('buttons.show')
  %td= link_to t('buttons.delete'),"/products/#{product['id']}", method: "delete", data: { confirm: "Are you sure?", disable_with: "Processing..." }
    