<div class="show-user">
  <div class="row">
    <div class="col-4 p-4">
      <h1><%= t('type.products.inputs.name') %>: <%= @product['name'] %></h1>
    </div> 
    <div class="col-4 p-4">
      <h1><%= t('type.products.inputs.description') %>: <%= @product['description'] %></h1>
    </div>
    <div class="col-4 p-4">
      <h1><%= t('type.products.inputs.price') %>: <%= @product['price'] %></h1>
    </div>
    <div class="col-4 p-4">
      <h1><%= t('type.products.inputs.sell') %>: <%= getSelled?(@product['sold']) %></h1>
    </div>
    <div class="col-4 p-4">
      <% if @product['sold'] %>
        <h1><%= t('type.products.inputs.sold_date') %>: <%= DateTime.parse(@product['sold_date']).strftime('%Y-%m-%d %H:%M') %></h1>
      <% end %>
    </div>
    <div class="col-4 p-4">
      <h1><%= t('type.products.inputs.status') %>: <%= @product['status'].titleize %></h1>
    </div>
    <div class="col-6 p-4">
      <h1><%= t('type.products.inputs.type_product') %>: <%= @product['type_product']['name'] %></h1>
    </div>
    <div class="links col-10 pt-4">
      <a href="/products" class="btn btn-link"><%= t('sales.inputs.back') %></a>
    </div>
  </div>
</div>