<div class="show-user">
    <div class="row">
        <div class="col-4">
            <h1><%= t('type.products.inputs.name') %>: <%= @product['name'] %></h1>
        </div> 
        <div class="col-4">
            <h1><%= t('type.products.inputs.description') %>: <%= @product['description'] %></h1>
        </div>
        <div class="col-4">
            <h1><%= t('type.products.inputs.price') %>: <%= @product['price'] %></h1>
        </div>
        <div class="col-4">
            <h1><%= t('type.products.inputs.stock') %>: <%= @product['stock'] %></h1>
        </div>
        <div class="col-4">
            <h1><%= t('type.products.inputs.status') %>: <%= @product['status'] %></h1>
        </div>
        <div class="col-4">
            <h1><%= t('type.products.inputs.type_product') %>: <%= @product['type_product']['name'] %></h1>
        </div>
    </div>
</div>