<div class="show-user">
    <div class="row">
        <div class="col-6 pt-3">
            <span><%= t('sales.title') %></span>
        </div> 
        <div class="col-6 pt-3">
            <span><%= t('sales.total_products') %>: <%= @sale['total_products'] %></span>
        </div>
        <div class="col-6 pt-3">
            <span><%= t('sales.buyer') %>: <%= @sale['buyer'] %></span>
        </div>
        <div class="col-6 pt-3">
            <span><%= t('sales.buyer_email') %>: <%= @sale['email_buyer'] %></span>
        </div>
        <div class="col-12 pt-3">
            <span><%= t('sales.items') %></span>
            <ul>
                <% @sale['products'].each do |product| %>
                    <% product = JSON.parse(product) %>
                    <li>
                        <div class="ticket-list pt-3">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="name-product">Name: <%= product['name'] %></h1>
                                    <h5 class="barcode-product">Bar Code: <%= product['barcode'] %></h5>
                                </div>
                                <div class="col-5">            
                                    <h1 class="price-product">Price: <%= product['amount'] %></h1>                    
                                </div>
                            </div>
                        </div>
                    </li>
                <%end%>
            </ul>
            <div class="col-12">
                <h1><%= t('sales.amount_total') %>: <%= @sale['total'] %></h1>
            </div>
        </div>
        <div class="links col-6 pt-4">
            <a href="/sales" class="btn btn-link"><%= t('sales.inputs.back') %></a>
        </div>
    </div>
</div>