%div.container.pt-5
  %div.row
    %div.col-3
    %div.col-6.ticket
      %div.row
        %div.col-12.pb-4{align: 'center'}
          %img{src: "#{@current_user['user']['gym']['logo']}", width: 100, heigth: 100, style: 'border-radius: 50%'}
          %h3= @current_user['user']['gym']['name']
        
        %div.col-6.pb-5{align: 'center'}
          %div 
            %h5.snumber Sales number
          %div 
            %h5.snumberval= @sale['id']
        
        %div.col-6.pb-5{align: 'center'}
          %div 
            %h5.sday Sale day
          %div
            %h5.sdayval= DateTime.parse(@sale['created_at']).strftime('%d-%m-%Y %H:%M')
        
        %div.col-6.pb-5{align: 'center'}
          %div 
            %h5.snumber User
          %div 
            %h5.snumberval= @sale['user']['email']
        
        %div.col-6.pb-5{align: 'center'}
          %div 
            %h5.sday Client
          %div
            - if @sale['client']
              %h5.sdayval= @sale['client']['display_name']
            - else
              %h5.sdayval Sale External 
        
        %div.col-12{align: 'center', style: 'background-color: #e6faea; padding: 20px'}
          %table.table-ticket
            %thead
              %th= t('common_texts.name')
              %th= t('common_texts.barcode')
              %th= t('common_texts.price')
            %tbody
              - @sale['products'].each do |product|
                - product = JSON.parse(product)
                %tr
                  %td= product['name']
                  %td= product['barcode']
                  %td= number_to_currency(product['amount'])
        
        %div.col-10.pt-5{align: 'right'}
          %h5 
            Total:
            = number_to_currency(@sale['total'])
    %div.col-3
      %a{href: "/sales/download/ticket/#{@sale['id']}?format=pdf", target: '_blank'}
        = image_tag 'sales/download.png', class: 'sidebar-button-img' 
    %div.col-3
    %div.col-6.ticket-bottom              