%tr
  %td= report['email']
  %td= t("status.#{report['type_report']}")
  %td= t("status.#{report['status']}")
  %td= report['total_items']
  %td= DateTime.parse(report['start_date']).strftime("%Y-%m-%d %H:%M:%S")
  %td= DateTime.parse(report['end_date']).strftime("%Y-%m-%d %H:%M:%S")
  %td
    - if report['status'] == 'finished'
      %a.link-table{href: "#{report['url']}", target: '_blank'}
        =t('common_texts.download')
    