%tr
  %td= report['email']
  %td= t("status.#{report['type_report']}")
  %td= t("status.#{report['status']}")
  %td= report['total_items']
  %td= report['start_date']
  %td= report['end_date']
  %td
    - if report['status'] == 'finished'
      %a{href: "#{report['url']}", target: '_blank'}
        =t('common_texts.download')
    