%div.row
  %div.card
    %div.col.pb-4
      %h1>
        = t('reports.subtitle')

    %div.col
      = form_for :report, :url => { :action => "create"}, method: 'POST', :html => {:class => "form row"} do |f|
        
        %div.col-3.form-group-select
          = label_tag t('reports.type')
          = select_tag 'report', options_for_select(@type_report), {:include_blank => t('reports.select'), :class => 'form-select', id: 'report'}
    
        %div.col-3.form-group{style: "margin-top: 0px;", id: 'client_div'}
          =label_tag :clients, t('common_texts.client')
          =text_field_tag :client_search, nil, placeholder: t('common_texts.search_client')

        %div.col-3.form-group{style: "margin-top: 0px;", id: 'start_date'}
          =label_tag :start_date, t('common_texts.date_initial')
          =date_field_tag :start_date, nil, placeholder: ''

        %div.col-3.form-group{style: "margin-top: 0px;", id: 'end_date'}
          =label_tag :end_date, t('common_texts.date_finished')
          =date_field_tag :end_date, nil, placeholder: ''
            
        %div.col
          #client
    
        %div.col-12
          = f.submit t('buttons.generate')
      
    %div.col
      = render partial: 'reports'

:javascript
  
  $('#client_search').autocomplete({
    source: "#{search_autocomplete_clients_url}",
    select: function( event,opt ) {
      var client_id = opt.item.value;
      var url       = "#{add_client_reports_url}";
      var default_duration = $("input#client_default_duration").val();
      var data      = { id: client_id};
      $.get( url, data );
      $(this).val('');
      return false;
    }
    
  });

  $('#report').on('change', function (){
    console.log('entro')
    console.log($(this).val())
    switch($(this).val()){
      case 'all_payments':
        $('#client_div').hide()
        $('#start_date').show()
        $('#end_date').show()
        break;
      case 'active_memberships':
        $('#client_div').hide()
        $('#start_date').hide()
        $('#end_date').hide()
        break;
      case 'expired_memberships':
        $('#client_div').hide()
        $('#start_date').hide()
        $('#end_date').hide()
        break;
      case 'suspend_memberships':
        $('#client_div').hide()
        $('#start_date').hide()
        $('#end_date').hide()
        break;
      case 'external_sales':
        $('#client_div').hide()
        $('#start_date').show()
        $('#end_date').show()
        break;
      default: 
        $('#client_div').show()
        $('#start_date').show()
        $('#end_date').show()
    }
  })


