<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header" align="center">
        <div class="logo">
            <img src="https://www.logaster.com.es/blog/wp-content/uploads/sites/4/2019/03/0031_p_hard-core-gym-logo_18.png" alt="">
            <h1><%= @current_user['user']['username'] %></h1>
            <h2>ID: <%= @current_user['user']['id'] %></h2>
        </div>
        <div class="col-12 nopadding">
            <div class="container">
                <ul class="list-unstyled components" style="margin-top:20px">

                    <li class="only" style="margin-top:10px;">
                        <a id="Home" href="/" class="link-home">
                            <%= image_tag 'sidebar/home.png', class: 'sidebar-button-img' %> <strong> <%= t('sidebar.menu_1.title') %> </strong>
                        </a>
                    </li>

                    <li style="margin-top:10px;">
                        <a href="#Clients" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-button link-home">
                            <%= image_tag 'sidebar/movements.png', class: 'sidebar-button-img' %> <strong><%= t('sidebar.menu_2.title') %></strong>
                        </a>
                        <ul class="collapse list-unstyled" id="Clients">
                            <li>
                                <a id="register" class="sidebar-button link-home" href="/clients/new">
                                    <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_2.submenu_1') %></strong>
                                </a>
                            </li>
                            <li>
                                <a id="list" class="sidebar-button link-home" href="/clients">
                                    <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_2.submenu_2') %></strong>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li style="margin-top:10px;">
                        <a href="#Payments" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-button link-home">
                            <%= image_tag 'sidebar/dollar.png', class: 'sidebar-button-img' %> <strong><%= t('sidebar.menu_3.title') %></strong>
                        </a>
                        <ul class="collapse list-unstyled" id="Payments">
                            <li>
                                <a id="register" class="sidebar-button link-home" href="/payments/new">
                                    <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_3.submenu_1') %></strong>
                                </a>
                            </li>
                            <li>
                                <a id="list" class="sidebar-button link-home" href="/payments">
                                    <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_3.submenu_2') %></strong>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="only" style="margin-top:10px;">
                        <a id="Access" href="/clients/access" class="link-home">
                            <%= image_tag 'sidebar/movements.png', class: 'sidebar-button-img' %> <strong> <%= t('sidebar.menu_5.title') %> </strong>
                        </a>
                    </li>

                    <% if @current_user['user']['role_id'].to_i == 1 %>

                        <li style="margin-top:10px;">
                            <a href="#Users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-button link-home">
                                <%= image_tag 'sidebar/dollar.png', class: 'sidebar-button-img' %> <strong><%= t('sidebar.menu_4.title') %></strong>
                            </a>
                            <ul class="collapse list-unstyled" id="Users">
                                <li>
                                    <a id="register" class="sidebar-button link-home" href="/users/new">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_4.submenu_1') %></strong>
                                    </a>
                                </li>
                                <li>
                                    <a id="list" class="sidebar-button link-home" href="/users">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_4.submenu_2') %></strong>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    <% end %>

                    <% if @current_user['user']['role']['value'].to_i == 1 || @current_user['user']['role']['value'].to_i == 3 %>

                        <li style="margin-top:10px;">
                            <a href="#TypeProduct" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-button link-home">
                                <%= image_tag 'sidebar/dollar.png', class: 'sidebar-button-img' %> <strong><%= t('sidebar.menu_6.title') %></strong>
                            </a>
                            <ul class="collapse list-unstyled" id="TypeProduct">
                                <li>
                                    <a id="register" class="sidebar-button link-home" href="/type_products/new">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_6.submenu_1') %></strong>
                                    </a>
                                </li>
                                <li>
                                    <a id="list" class="sidebar-button link-home" href="/type_products">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_6.submenu_2') %></strong>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li style="margin-top:10px;">
                            <a href="#Product" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-button link-home">
                                <%= image_tag 'sidebar/dollar.png', class: 'sidebar-button-img' %> <strong><%= t('sidebar.menu_7.title') %></strong>
                            </a>
                            <ul class="collapse list-unstyled" id="Product">
                                <li>
                                    <a id="register" class="sidebar-button link-home" href="/products/new">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_7.submenu_1') %></strong>
                                    </a>
                                </li>
                                <li>
                                    <a id="list" class="sidebar-button link-home" href="/products">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_7.submenu_2') %></strong>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li style="margin-top:10px;">
                            <a href="#Sales" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebar-button link-home">
                                <%= image_tag 'sidebar/dollar.png', class: 'sidebar-button-img' %> <strong><%= t('sidebar.menu_8.title') %></strong>
                            </a>
                            <ul class="collapse list-unstyled" id="Sales">
                                <li>
                                    <a id="register" class="sidebar-button link-home" href="/sales/new">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_8.submenu_1') %></strong>
                                    </a>
                                </li>
                                <li>
                                    <a id="list" class="sidebar-button link-home" href="/sales">
                                        <%= image_tag 'sidebar/dots.png', class: 'sidebar-button-bullet' %><strong><%= t('sidebar.menu_8.submenu_2') %></strong>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    <% end %>

                    <li class="only" style="margin-top:400px;">

                    </li>


                    <li style="margin-top:10px; background-color: #E5E9F0">
                        <%= link_to logout_sessions_path, method: :delete, class: 'sidebar-button', id: 'logout-button' do %>
                            <%= image_tag 'sidebar/logout.png', class: 'sidebar-button-img' %><strong><%= t('sidebar.logout') %></strong>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
